<div id="addAssortmentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Asortyment</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <label class="col-sm-3 control-label">Kod kreskowy</label>
                    <input type="text" id="barcode" class="form-control col-sm-6" name="barcode" placeholder="Wpisz kod kreskowy" />
                    <button type="button" class="btn btn-default col-sm-2" id="search-operation-assortment"><span class="glyphicon glyphicon-search"></span> Szukaj</button>
                </div>

                <div class="assortment-details">

                    @*<hr />
                    <h3 class="text-center">Ethan: Łowca meteorytów PC</h3>

                    <h4 class="text-center">Magazyn: MAGAZYN_1</h4>

                    <div class="row">
                        <p class="col-md-4 control-label" style="margin-bottom:10px;">Ilość w systemie</p>
                        <p class="col-md-8">999 szt.</p>
                    </div>

                    <div class="row">
                        <label class="col-md-4 control-label">Ilość wg spisu</label>
                        <input type="text" id="after-quantity" class="form-control" name="after-quantity" placeholder="Wpisz ilość" />
                    </div>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-add-operation-assortment" class="btn btn-default">Dodaj</button>
                <button type="button" id="btn-add-next-operation-assortment" class="btn btn-default">Dodaj kolejny</button>
                <button type="button" id="btn-close-modal" class="btn btn-default" >Zamknij</button>
            </div>
        </div>



        @*<div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dodaj asortyment</h4>
            </div>
            <div class="modal-body">


            </div>
            <div class="modal-footer">
                <button type="button" id="btn-add-assortment" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>*@

    </div>
</div>
