<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Zapisz" class="btn btn-info" id="submit-operation"/>
        <input type="button" value="Dodaj asortyment" id="open-modal" class="btn btn-default" data-toggle="modal" data-target="#addAssortmentModal" />
    </div>
</div>
